body {
  font-family: "Arial", sans-serif;
  background-color: #5D5D5D, rgb(93,93,93);
}

h1 {
  text-align: center;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  margin-top: 30px;
}

h2 {
  font-family: "Georgia", serif;
  background-color: #ff9933;
  color: #ffffff;
  padding: 5px;
  margin-top: 15px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

img {
  display: block;
  max-width: 200px;
  margin: 20px auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
}
